.cart-book {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
  box-shadow: -4px 10px 9px 3px rgba(219, 206, 219, 1);
}
.cart-book:hover {
  border: 5px solid rgb(47, 17, 17);
  cursor: pointer;
}
.item {
  flex-grow: 3;
}

.cart-book-image {
  height: 200px;
  width: 200px;
  padding: 0 20px;
}

.cart-book-title {
  width: 500px;
  overflow: hidden;
}

.cart-book-price {
  text-align: center;
  height: 200px;
  width: 200px;
  vertical-align: center;
}
